/*
 * FocusInk webpage styles
 */

.focusink-focused {
  filter: contrast(1.25) !important;

  text-shadow:
    0.3px 0 currentColor,
    -0.3px 0 currentColor !important;

  background-color: rgb(
    255 229 100 / 28%
  ) !important;
}